@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap");

* {
  font-family: "Sunflower", sans-serif;
}

body {
  background: aliceblue;
}

.App {
  margin: 0 auto;
  background: white;
}

.headerText {
  display: none;
}

@media only screen and (min-width: 400px) {
  .App {
    width: 90%;
  }
  .headerText {
    display: none;
  }
}

@media only screen and (min-width: 750px) {
  .App {
    width: 76%;
  }
  .headerText {
    display: block;
  }
}

@media only screen and (min-width: 899px) {
  .App {
    width: 70%;
  }
  .headerText {
    display: block;
  }
}
@media only screen and (min-width: 1399px) {
  .App {
    width: 60%;
  }
  .headerText {
    display: block;
  }
}
